<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    dsds

    <% locals.messages.forEach(message => { %>
        <p><%= message.text %></p>
      <% }); %>

    <form action="/new" method="post">
        <label for="name">Name:</label>
        <input type="text" name="name" required/>
        <label for="message">Message:</label>
        <input type="text" name="message" required/>
        <button type="submit">Submit</button>
    </form>
</body>
</html>